body {
  margin: 0px;
}


.navbar {
  background-color: rgb(41, 111, 181);
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

.current-nav-link {
  color: white;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  height: 65px;
}

.current-nav-button {
  background-color: rgb(26, 70, 113);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 40px;
  height: 65px;
}

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}

.headshot {
  height: 550px;
  width: 550px;
  border-radius: 50%;
}

.home-info {
  text-align: center;
}

.home-title {
  font-size: 100px;
  font-weight: 700;
}

.home-description {
  font-size: 75px;
  font-weight: 100;
}

.home-location {
  font-size: 60px;
  font-weight: 100;
}

.about-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  text-align: center;
}

.resume {
  height: 550px;
  width: 500px;
}

.about.title {
  font-size: 75px;
  text-align: center;
}

.about-paragraph {
  font-size: 30px;
  width: 700px;
  text-align: center;
  padding-left: 100px;
}

.about-info {
  width: 900px;
  text-align: center;
  justify-content: center;
  background-color: rgb(74, 128, 181);
  border-radius: 50%;
}

.contact-page {
  padding-top: 20px;
}

.contact-inner {
  text-align: center;
  background-color: rgb(74, 128, 181);
  border-radius: 15%;
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 1px;
}

.contact-title {
  font-size: 100px;
}

.contact-info {
  width: 800px;
  margin: auto;
  font-size: 40px;
}